<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'header.css' | asset_url | stylesheet_tag }}</noscript>
<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  .header__heading-logo {
    max-width: {{ section.settings.logo_width }}px;
  }

  .header__heading-link svg {
    width: 145px;
}

  @media screen and (min-width: 990px) {
    header-drawer {
      display: none;
    }
  }

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}


<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
    {%- if section.settings.menu != blank -%}
      <header-drawer data-breakpoint="tablet">
        <details id="Details-menu-drawer-container" class="menu-drawer-container">
          <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
            <span>
              {% render 'icon-hamburger' %}
              {% render 'icon-close' %}
            </span>
          </summary>
          <div id="menu-drawer" class="gradient menu-drawer motion-reduce" tabindex="-1">
            <div class="menu-drawer__inner-container">
              <div class="menu-drawer__navigation-container">
                <nav class="menu-drawer__navigation">
                  <ul class="menu-drawer__menu has-submenu list-menu" role="list">
                    {%- for link in section.settings.menu.links -%}
                      <li>
                        {%- if link.links != blank -%}
                          <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                              {{ link.title | escape }}
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div id="link-{{ link.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce" tabindex="-1">
                              <div class="menu-drawer__inner-submenu">
                                <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                  {% render 'icon-arrow' %}
                                  {{ link.title | escape }}
                                </button>
                                <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                  {%- for childlink in link.links -%}
                                    <li>
                                      {%- if childlink.links == blank -%}
                                        <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                          {{ childlink.title | escape }}
                                        </a>
                                      {%- else -%}
                                        <details id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                          <summary class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                            {{ childlink.title | escape }}
                                            {% render 'icon-arrow' %}
                                            {% render 'icon-caret' %}
                                          </summary>
                                          <div id="childlink-{{ childlink.handle | escape }}" class="menu-drawer__submenu has-submenu gradient motion-reduce">
                                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                                              {% render 'icon-arrow' %}
                                              {{ childlink.title | escape }}
                                            </button>
                                            <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                              {%- for grandchildlink in childlink.links -%}
                                                <li>
                                                  <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                    {{ grandchildlink.title | escape }}
                                                  </a>
                                                </li>
                                              {%- endfor -%}
                                            </ul>
                                          </div>
                                        </details>
                                      {%- endif -%}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            </div>
                          </details>
                        {%- else -%}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                            {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                </nav>
                <div class="menu-drawer__utility-links">
                  {%- if shop.customer_accounts_enabled -%}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="menu-drawer__account link focus-inset h5">
                      {% render 'icon-account' %}
                      {%- liquid
                        if customer
                          echo 'customer.account_fallback' | t
                        else
                          echo 'customer.log_in' | t
                        endif
                      -%}
                    </a>
                  {%- endif -%}
                  <ul class="list list-social list-unstyled" role="list">
                    {%- if settings.social_twitter_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                          {%- render 'icon-twitter' -%}
                          <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_facebook_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                          {%- render 'icon-facebook' -%}
                          <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_pinterest_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                          {%- render 'icon-pinterest' -%}
                          <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_instagram_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                          {%- render 'icon-instagram' -%}
                          <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tiktok_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                          {%- render 'icon-tiktok' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_tumblr_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                          {%- render 'icon-tumblr' -%}
                          <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_snapchat_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                          {%- render 'icon-snapchat' -%}
                          <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_youtube_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                          {%- render 'icon-youtube' -%}
                          <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if settings.social_vimeo_link != blank -%}
                      <li class="list-social__item">
                        <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                          {%- render 'icon-vimeo' -%}
                          <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                        </a>
                      </li>
                    {%- endif -%}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </details>
      </header-drawer>
    {%- endif -%}

    {%- if section.settings.logo_position == 'top-center' or section.settings.menu == blank -%}
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>
    {%- endif -%}

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
              {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
              }}
            {%- else -%}
              <span class="h2"><svg version="1.1" preserveAspectRatio="xMidYMid meet" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1506 547" style="enable-background:new 0 0 1506 547;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#F2F2F2;}
          </style>
          <g>
            <g id="ARC_74_">
              <g>
                <g>
                  <g>
                    <g>
                      <path class="st0" d="M268.28,222.61v106.71c0,4.72-3.67,8.62-8.38,8.91l-91.3,5.54l51.98-30.01c2.02-1.17,3.65-2.9,4.69-4.99
                        L268.28,222.61z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M261.01,205.09c4.08,2.36,5.63,7.49,3.52,11.71l-40.86,81.84v-60.02c0-2.33-0.68-4.61-1.97-6.56
                        l-53.1-80.32L261.01,205.09z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M256.75,344.37l-92.41,53.35c-4.08,2.36-9.3,1.13-11.9-2.8l-50.45-76.3l51.98,30.01
                        c2.02,1.17,4.34,1.71,6.67,1.57L256.75,344.37z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M161.7,152.09l50.45,76.3l-51.98-30.01c-2.02-1.17-4.34-1.71-6.67-1.57l-96.11,5.83l92.41-53.35
                        C153.88,146.92,159.09,148.15,161.7,152.09z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M92.43,314.94l53.1,80.32l-92.41-53.35c-4.08-2.36-5.63-7.49-3.52-11.71l40.86-81.84v60.02
                        C90.46,310.71,91.14,312.99,92.43,314.94z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M145.53,203.25l-51.98,30.01c-2.02,1.17-3.65,2.9-4.69,4.99l-43.01,86.15V217.69
                        c0-4.72,3.67-8.62,8.38-8.9L145.53,203.25z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <g id="XMLID_2_">
              <g>
                <path class="st0" d="M1463.51,323.77c0.15,0.12,0.24,0.3,0.24,0.49c0,0.35-0.31,0.64-0.69,0.64h-53.38l-42.78-35.77
                  c-0.26-0.22-0.66-0.22-0.93,0l-42.9,35.77h-52.8c-0.2,0-0.39-0.08-0.52-0.22c-0.25-0.27-0.22-0.67,0.07-0.9l62.15-49.64
                  c0.29-0.23,0.32-0.63,0.07-0.9c-0.02-0.02-0.04-0.04-0.06-0.06l-58.53-49.64c-0.14-0.12-0.22-0.29-0.22-0.47
                  c0-0.35,0.31-0.64,0.69-0.64h52.53l39.52,35.15c0.26,0.23,0.68,0.24,0.95,0.01l40.85-35.16h52.2c0.2,0,0.38,0.08,0.52,0.21
                  c0.26,0.26,0.23,0.67-0.05,0.9l-59.51,49.63c-0.29,0.24-0.31,0.64-0.05,0.91c0.02,0.02,0.04,0.04,0.06,0.06L1463.51,323.77z"></path>
                <path class="st0" d="M1247.59,223.07v101.19c0,0.35-0.31,0.64-0.69,0.64h-38.88c-0.38,0-0.69-0.29-0.69-0.64V223.07
                  c0-0.35,0.31-0.64,0.69-0.64h38.88C1247.28,222.42,1247.59,222.71,1247.59,223.07z"></path>
                <path class="st0" d="M1175,223.07v101.19c0,0.35-0.31,0.64-0.69,0.64h-37.3c-0.38,0-0.69-0.29-0.69-0.64v-74.9
                  c0-0.36-0.31-0.64-0.69-0.64c-0.23,0-0.44,0.1-0.57,0.28l-55.23,75.62c-0.13,0.17-0.34,0.28-0.57,0.28h-30.89l-53.89-74.98
                  c-0.21-0.29-0.64-0.37-0.96-0.18c-0.19,0.12-0.31,0.32-0.31,0.53v73.99c0,0.35-0.31,0.64-0.69,0.64h-37.47
                  c-0.38,0-0.69-0.29-0.69-0.64V223.07c0-0.35,0.31-0.64,0.69-0.64h62.61c0.23,0,0.45,0.11,0.58,0.29l45.87,65.2
                  c0.21,0.3,0.64,0.38,0.96,0.19c0.08-0.05,0.15-0.11,0.2-0.18l46.03-65.21c0.13-0.18,0.35-0.29,0.58-0.29h62.45
                  C1174.69,222.42,1175,222.71,1175,223.07z"></path>
                <path class="st0" d="M921.52,223.07v101.19c0,0.35-0.31,0.64-0.69,0.64h-39.65c-0.38,0-0.69-0.29-0.69-0.64V223.07
                  c0-0.35,0.31-0.64,0.69-0.64h39.65C921.21,222.42,921.52,222.71,921.52,223.07z"></path>
                <path class="st0" d="M852.16,301.35v22.91c0,0.35-0.31,0.64-0.69,0.64H722.9c-0.38,0-0.69-0.29-0.69-0.64V223.07
                  c0-0.35,0.31-0.64,0.69-0.64h38.36c0.38,0,0.69,0.29,0.69,0.64v77c0,0.36,0.31,0.64,0.69,0.64h88.83
                  C851.86,300.71,852.16,300.99,852.16,301.35z"></path>
                <path class="st0" d="M692.81,301.35v22.91c0,0.35-0.31,0.64-0.69,0.64H548.4c-0.38,0-0.69-0.29-0.69-0.64V222.87v0
                  c0-0.35,0.31-0.64,0.69-0.64l143.72,0.19c0.38,0,0.69,0.29,0.69,0.64v22.75c0,0.35-0.31,0.64-0.69,0.64H588.86
                  c-0.38,0-0.69,0.29-0.69,0.64v15.58c0,0.35,0.31,0.64,0.69,0.64h95.87c0.38,0,0.69,0.29,0.69,0.64v19.07
                  c0,0.36-0.31,0.64-0.69,0.64h-95.87c-0.38,0-0.69,0.29-0.69,0.64v15.77c0,0.36,0.31,0.64,0.69,0.64h103.26
                  C692.5,300.71,692.81,300.99,692.81,301.35z"></path>
                <path class="st0" d="M514.69,222.87v101.39c0,0.35-0.31,0.64-0.69,0.64h-39.1c-0.38,0-0.69-0.29-0.69-0.64V286.5
                  c0-0.35-0.31-0.64-0.69-0.64h-87.5c-0.38,0-0.69,0.29-0.69,0.64v37.76c0,0.35-0.31,0.64-0.69,0.64h-39.34
                  c-0.38,0-0.69-0.29-0.69-0.64V222.87c0-0.35,0.31-0.64,0.69-0.64h39.34c0.38,0,0.69,0.29,0.69,0.64v36.03
                  c0,0.36,0.31,0.64,0.69,0.64h87.5c0.38,0,0.69-0.29,0.69-0.64v-36.03c0-0.35,0.31-0.64,0.69-0.64H514
                  C514.38,222.23,514.69,222.52,514.69,222.87z"></path>
              </g>
              <g>
                <line class="st0" x1="474.9" y1="324.9" x2="514" y2="324.9"></line>
                <line class="st0" x1="474.2" y1="286.5" x2="474.2" y2="324.26"></line>
                <line class="st0" x1="386.01" y1="285.86" x2="473.51" y2="285.86"></line>
                <line class="st0" x1="385.32" y1="324.26" x2="385.32" y2="286.5"></line>
                <line class="st0" x1="345.29" y1="324.9" x2="384.63" y2="324.9"></line>
                <line class="st0" x1="344.6" y1="222.87" x2="344.6" y2="324.26"></line>
                <line class="st0" x1="384.63" y1="222.23" x2="345.29" y2="222.23"></line>
                <line class="st0" x1="385.32" y1="258.9" x2="385.32" y2="222.87"></line>
                <line class="st0" x1="473.51" y1="259.55" x2="386.01" y2="259.55"></line>
                <line class="st0" x1="474.2" y1="222.87" x2="474.2" y2="258.9"></line>
                <line class="st0" x1="514" y1="222.23" x2="474.9" y2="222.23"></line>
                <line class="st0" x1="514.69" y1="324.26" x2="514.69" y2="222.87"></line>
                <line class="st0" x1="692.81" y1="245.81" x2="692.81" y2="223.07"></line>
                <line class="st0" x1="588.86" y1="246.46" x2="692.12" y2="246.46"></line>
                <line class="st0" x1="588.17" y1="262.67" x2="588.17" y2="247.09"></line>
                <line class="st0" x1="684.73" y1="263.31" x2="588.86" y2="263.31"></line>
                <line class="st0" x1="685.42" y1="283.02" x2="685.42" y2="263.95"></line>
                <line class="st0" x1="588.86" y1="283.66" x2="684.73" y2="283.66"></line>
                <line class="st0" x1="588.17" y1="300.07" x2="588.17" y2="284.29"></line>
                <line class="st0" x1="692.12" y1="300.71" x2="588.86" y2="300.71"></line>
                <line class="st0" x1="692.81" y1="324.26" x2="692.81" y2="301.35"></line>
                <line class="st0" x1="548.4" y1="324.9" x2="692.12" y2="324.9"></line>
                <line class="st0" x1="547.71" y1="222.87" x2="547.71" y2="324.26"></line>
                <line class="st0" x1="692.12" y1="222.42" x2="548.4" y2="222.23"></line>
                <line class="st0" x1="761.95" y1="300.07" x2="761.95" y2="223.07"></line>
                <line class="st0" x1="851.47" y1="300.71" x2="762.64" y2="300.71"></line>
                <line class="st0" x1="852.16" y1="324.26" x2="852.16" y2="301.35"></line>
                <line class="st0" x1="722.9" y1="324.9" x2="851.47" y2="324.9"></line>
                <line class="st0" x1="722.21" y1="223.07" x2="722.21" y2="324.26"></line>
                <line class="st0" x1="761.26" y1="222.42" x2="722.9" y2="222.42"></line>
                <line class="st0" x1="881.18" y1="324.9" x2="920.83" y2="324.9"></line>
                <line class="st0" x1="880.49" y1="223.07" x2="880.49" y2="324.26"></line>
                <line class="st0" x1="920.83" y1="222.42" x2="881.18" y2="222.42"></line>
                <line class="st0" x1="921.52" y1="324.26" x2="921.52" y2="223.07"></line>
                <line class="st0" x1="1048.73" y1="324.9" x2="1079.25" y2="324.9"></line>
                <line class="st0" x1="994.47" y1="249.91" x2="1048.15" y2="324.61"></line>
                <path class="st0" d="M993.21,250.27"></path>
                <path class="st0" d="M993.21,324.26"></path>
                <line class="st0" x1="955.05" y1="324.9" x2="992.52" y2="324.9"></line>
                <line class="st0" x1="954.36" y1="223.07" x2="954.36" y2="324.26"></line>
                <line class="st0" x1="1017.66" y1="222.42" x2="955.05" y2="222.42"></line>
                <path class="st0" d="M1018.23,222.72"></path>
                <path class="st0" d="M1064.1,287.92"></path>
                <line class="st0" x1="1111.28" y1="222.71" x2="1065.25" y2="287.92"></line>
                <line class="st0" x1="1174.31" y1="222.42" x2="1111.86" y2="222.42"></line>
                <line class="st0" x1="1175" y1="324.26" x2="1175" y2="223.07"></line>
                <line class="st0" x1="1137.01" y1="324.9" x2="1174.31" y2="324.9"></line>
                <line class="st0" x1="1136.32" y1="249.36" x2="1136.32" y2="324.26"></line>
                <line class="st0" x1="1079.82" y1="324.62" x2="1135.05" y2="249"></line>
                <line class="st0" x1="1246.9" y1="222.42" x2="1208.02" y2="222.42"></line>
                <line class="st0" x1="1247.59" y1="324.26" x2="1247.59" y2="223.07"></line>
                <line class="st0" x1="1208.02" y1="324.9" x2="1246.9" y2="324.9"></line>
                <line class="st0" x1="1207.33" y1="223.07" x2="1207.33" y2="324.26"></line>
                <line class="st0" x1="1273.44" y1="223.54" x2="1331.97" y2="273.18"></line>
                <line class="st0" x1="1326.16" y1="222.42" x2="1273.9" y2="222.42"></line>
                <line class="st0" x1="1365.96" y1="257.58" x2="1326.64" y2="222.61"></line>
                <line class="st0" x1="1407.56" y1="222.6" x2="1366.91" y2="257.58"></line>
                <line class="st0" x1="1459.95" y1="222.42" x2="1408.03" y2="222.42"></line>
                <line class="st0" x1="1400.9" y1="273.17" x2="1460.42" y2="223.54"></line>
                <line class="st0" x1="1463.51" y1="323.77" x2="1400.91" y2="274.13"></line>
                <line class="st0" x1="1409.93" y1="324.9" x2="1463.06" y2="324.9"></line>
                <line class="st0" x1="1366.89" y1="289.12" x2="1409.47" y2="324.73"></line>
                <line class="st0" x1="1270.26" y1="324.9" x2="1322.8" y2="324.9"></line>
                <line class="st0" x1="1331.96" y1="274.13" x2="1269.81" y2="323.77"></line>
                <line class="st0" x1="1323.27" y1="324.73" x2="1365.97" y2="289.12"></line>
                <path class="st0" d="M474.2,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M474.2,286.5c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M386.01,285.86c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M384.63,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M344.6,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M345.29,222.23c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M385.32,222.87c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M385.32,258.9c0,0.36,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M473.51,259.55c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M474.9,222.23c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M514.69,222.87c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M514,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M692.12,246.46c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M588.86,246.46c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M588.17,262.67c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M685.42,263.95c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M684.73,283.66c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M588.86,283.66c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M588.17,300.07c0,0.36,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M692.81,301.35c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M692.12,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M547.71,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M548.4,222.23c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M692.81,223.07c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M761.95,300.07c0,0.36,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M852.16,301.35c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M851.47,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M722.21,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M722.9,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M761.95,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M880.49,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M881.18,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M921.52,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M920.83,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M1048.15,324.61c0.13,0.18,0.34,0.29,0.57,0.29"></path>
                <path class="st0" d="M994.47,249.91c-0.21-0.29-0.64-0.37-0.96-0.18c-0.19,0.12-0.31,0.32-0.31,0.53"></path>
                <path class="st0" d="M992.52,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M954.36,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M955.05,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M1018.23,222.72c-0.12-0.18-0.34-0.29-0.58-0.29"></path>
                <path class="st0" d="M1064.1,287.92c0.21,0.3,0.64,0.38,0.96,0.19c0.08-0.05,0.15-0.11,0.2-0.18"></path>
                <path class="st0" d="M1111.86,222.42c-0.23,0-0.45,0.11-0.58,0.29"></path>
                <path class="st0" d="M1175,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M1174.31,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M1136.32,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M1136.32,249.36c0-0.36-0.31-0.64-0.69-0.64c-0.23,0-0.44,0.1-0.57,0.28"></path>
                <path class="st0" d="M1079.25,324.9c0.23,0,0.44-0.11,0.57-0.28"></path>
                <path class="st0" d="M1247.59,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M1246.9,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M1207.33,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M1208.02,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M1273.9,222.42c-0.38,0-0.69,0.29-0.69,0.64c0,0.18,0.08,0.35,0.22,0.47"></path>
                <path class="st0" d="M1326.64,222.61c-0.13-0.12-0.3-0.18-0.48-0.18"></path>
                <path class="st0" d="M1365.96,257.58c0.26,0.23,0.68,0.24,0.95,0.01"></path>
                <path class="st0" d="M1408.03,222.42c-0.17,0-0.34,0.06-0.47,0.17"></path>
                <path class="st0" d="M1460.42,223.54c0.28-0.23,0.31-0.64,0.05-0.9c-0.13-0.14-0.32-0.21-0.52-0.21"></path>
                <path class="st0" d="M1400.9,273.17c-0.29,0.24-0.31,0.64-0.05,0.91c0.02,0.02,0.04,0.04,0.06,0.06"></path>
                <path class="st0" d="M1463.06,324.9c0.38,0,0.69-0.29,0.69-0.64c0-0.19-0.09-0.37-0.24-0.49"></path>
                <path class="st0" d="M1409.47,324.73c0.13,0.11,0.29,0.17,0.46,0.17"></path>
                <path class="st0" d="M1366.89,289.12c-0.26-0.22-0.66-0.22-0.93,0"></path>
                <path class="st0" d="M1322.8,324.9c0.17,0,0.33-0.06,0.46-0.17"></path>
                <path class="st0" d="M1269.81,323.77c-0.29,0.23-0.32,0.63-0.07,0.9c0.13,0.14,0.32,0.22,0.52,0.22"></path>
                <path class="st0" d="M1331.96,274.13c0.29-0.23,0.32-0.63,0.07-0.9c-0.02-0.02-0.04-0.04-0.06-0.06"></path>
              </g>
            </g>
          </g>
          </svg></span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.menu != blank -%}
      {%- if section.settings.menu_type_desktop == 'dropdown' -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <ul id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                        {%- for childlink in link.links -%}
                          <li>
                            {%- if childlink.links == blank -%}
                              <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- else -%}
                              <details id="Details-HeaderSubMenu-{{ forloop.index }}">
                                <summary class="header__menu-item link link--text list-menu__item focus-inset caption-large">
                                  <span>{{ childlink.title | escape }}</span>
                                  {% render 'icon-caret' %}
                                </summary>
                                <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </details>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- else -%}
        <nav class="header__inline-menu">
          <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
              <li>
                {%- if link.links != blank -%}
                  <header-menu>
                    <details id="Details-HeaderMenu-{{ forloop.index }}" class="mega-menu">
                      <summary class="header__menu-item list-menu__item link focus-inset">
                        <span {%- if link.child_active %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                        {% render 'icon-caret' %}
                      </summary>
                      <div id="MegaMenu-Content-{{ forloop.index }}" class="mega-menu__content gradient motion-reduce global-settings-popup" tabindex="-1">
                        <ul class="mega-menu__list page-width{% if link.levels == 1 %} mega-menu__list--condensed{% endif %}" role="list">
                          {%- for childlink in link.links -%}
                            <li>
                              <a href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                              {%- if childlink.links != blank -%}
                                <ul class="list-unstyled" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}" class="mega-menu__link link{% if grandchildlink.current %} mega-menu__link--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </header-menu>
                {%- else -%}
                  <a href="{{ link.url }}" class="header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                    <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                  </a>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </nav>
      {%- endif -%}
    {%- endif -%}

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio -%}
              {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
                class: 'header__heading-logo',
                widths: '50, 100, 150, 200, 250, 300, 400, 500',
                height: logo_height,
                width: section.settings.logo_width,
                alt: logo_alt
              }}
            {%- else -%}
              <span class="h2"><svg version="1.1" preserveAspectRatio="xMidYMid meet" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1506 547" style="enable-background:new 0 0 1506 547;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:#F2F2F2;}
          </style>
          <g>
            <g id="ARC_74_">
              <g>
                <g>
                  <g>
                    <g>
                      <path class="st0" d="M268.28,222.61v106.71c0,4.72-3.67,8.62-8.38,8.91l-91.3,5.54l51.98-30.01c2.02-1.17,3.65-2.9,4.69-4.99
                        L268.28,222.61z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M261.01,205.09c4.08,2.36,5.63,7.49,3.52,11.71l-40.86,81.84v-60.02c0-2.33-0.68-4.61-1.97-6.56
                        l-53.1-80.32L261.01,205.09z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M256.75,344.37l-92.41,53.35c-4.08,2.36-9.3,1.13-11.9-2.8l-50.45-76.3l51.98,30.01
                        c2.02,1.17,4.34,1.71,6.67,1.57L256.75,344.37z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M161.7,152.09l50.45,76.3l-51.98-30.01c-2.02-1.17-4.34-1.71-6.67-1.57l-96.11,5.83l92.41-53.35
                        C153.88,146.92,159.09,148.15,161.7,152.09z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M92.43,314.94l53.1,80.32l-92.41-53.35c-4.08-2.36-5.63-7.49-3.52-11.71l40.86-81.84v60.02
                        C90.46,310.71,91.14,312.99,92.43,314.94z"></path>
                    </g>
                    <g>
                      <path class="st0" d="M145.53,203.25l-51.98,30.01c-2.02,1.17-3.65,2.9-4.69,4.99l-43.01,86.15V217.69
                        c0-4.72,3.67-8.62,8.38-8.9L145.53,203.25z"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
            <g id="XMLID_2_">
              <g>
                <path class="st0" d="M1463.51,323.77c0.15,0.12,0.24,0.3,0.24,0.49c0,0.35-0.31,0.64-0.69,0.64h-53.38l-42.78-35.77
                  c-0.26-0.22-0.66-0.22-0.93,0l-42.9,35.77h-52.8c-0.2,0-0.39-0.08-0.52-0.22c-0.25-0.27-0.22-0.67,0.07-0.9l62.15-49.64
                  c0.29-0.23,0.32-0.63,0.07-0.9c-0.02-0.02-0.04-0.04-0.06-0.06l-58.53-49.64c-0.14-0.12-0.22-0.29-0.22-0.47
                  c0-0.35,0.31-0.64,0.69-0.64h52.53l39.52,35.15c0.26,0.23,0.68,0.24,0.95,0.01l40.85-35.16h52.2c0.2,0,0.38,0.08,0.52,0.21
                  c0.26,0.26,0.23,0.67-0.05,0.9l-59.51,49.63c-0.29,0.24-0.31,0.64-0.05,0.91c0.02,0.02,0.04,0.04,0.06,0.06L1463.51,323.77z"></path>
                <path class="st0" d="M1247.59,223.07v101.19c0,0.35-0.31,0.64-0.69,0.64h-38.88c-0.38,0-0.69-0.29-0.69-0.64V223.07
                  c0-0.35,0.31-0.64,0.69-0.64h38.88C1247.28,222.42,1247.59,222.71,1247.59,223.07z"></path>
                <path class="st0" d="M1175,223.07v101.19c0,0.35-0.31,0.64-0.69,0.64h-37.3c-0.38,0-0.69-0.29-0.69-0.64v-74.9
                  c0-0.36-0.31-0.64-0.69-0.64c-0.23,0-0.44,0.1-0.57,0.28l-55.23,75.62c-0.13,0.17-0.34,0.28-0.57,0.28h-30.89l-53.89-74.98
                  c-0.21-0.29-0.64-0.37-0.96-0.18c-0.19,0.12-0.31,0.32-0.31,0.53v73.99c0,0.35-0.31,0.64-0.69,0.64h-37.47
                  c-0.38,0-0.69-0.29-0.69-0.64V223.07c0-0.35,0.31-0.64,0.69-0.64h62.61c0.23,0,0.45,0.11,0.58,0.29l45.87,65.2
                  c0.21,0.3,0.64,0.38,0.96,0.19c0.08-0.05,0.15-0.11,0.2-0.18l46.03-65.21c0.13-0.18,0.35-0.29,0.58-0.29h62.45
                  C1174.69,222.42,1175,222.71,1175,223.07z"></path>
                <path class="st0" d="M921.52,223.07v101.19c0,0.35-0.31,0.64-0.69,0.64h-39.65c-0.38,0-0.69-0.29-0.69-0.64V223.07
                  c0-0.35,0.31-0.64,0.69-0.64h39.65C921.21,222.42,921.52,222.71,921.52,223.07z"></path>
                <path class="st0" d="M852.16,301.35v22.91c0,0.35-0.31,0.64-0.69,0.64H722.9c-0.38,0-0.69-0.29-0.69-0.64V223.07
                  c0-0.35,0.31-0.64,0.69-0.64h38.36c0.38,0,0.69,0.29,0.69,0.64v77c0,0.36,0.31,0.64,0.69,0.64h88.83
                  C851.86,300.71,852.16,300.99,852.16,301.35z"></path>
                <path class="st0" d="M692.81,301.35v22.91c0,0.35-0.31,0.64-0.69,0.64H548.4c-0.38,0-0.69-0.29-0.69-0.64V222.87v0
                  c0-0.35,0.31-0.64,0.69-0.64l143.72,0.19c0.38,0,0.69,0.29,0.69,0.64v22.75c0,0.35-0.31,0.64-0.69,0.64H588.86
                  c-0.38,0-0.69,0.29-0.69,0.64v15.58c0,0.35,0.31,0.64,0.69,0.64h95.87c0.38,0,0.69,0.29,0.69,0.64v19.07
                  c0,0.36-0.31,0.64-0.69,0.64h-95.87c-0.38,0-0.69,0.29-0.69,0.64v15.77c0,0.36,0.31,0.64,0.69,0.64h103.26
                  C692.5,300.71,692.81,300.99,692.81,301.35z"></path>
                <path class="st0" d="M514.69,222.87v101.39c0,0.35-0.31,0.64-0.69,0.64h-39.1c-0.38,0-0.69-0.29-0.69-0.64V286.5
                  c0-0.35-0.31-0.64-0.69-0.64h-87.5c-0.38,0-0.69,0.29-0.69,0.64v37.76c0,0.35-0.31,0.64-0.69,0.64h-39.34
                  c-0.38,0-0.69-0.29-0.69-0.64V222.87c0-0.35,0.31-0.64,0.69-0.64h39.34c0.38,0,0.69,0.29,0.69,0.64v36.03
                  c0,0.36,0.31,0.64,0.69,0.64h87.5c0.38,0,0.69-0.29,0.69-0.64v-36.03c0-0.35,0.31-0.64,0.69-0.64H514
                  C514.38,222.23,514.69,222.52,514.69,222.87z"></path>
              </g>
              <g>
                <line class="st0" x1="474.9" y1="324.9" x2="514" y2="324.9"></line>
                <line class="st0" x1="474.2" y1="286.5" x2="474.2" y2="324.26"></line>
                <line class="st0" x1="386.01" y1="285.86" x2="473.51" y2="285.86"></line>
                <line class="st0" x1="385.32" y1="324.26" x2="385.32" y2="286.5"></line>
                <line class="st0" x1="345.29" y1="324.9" x2="384.63" y2="324.9"></line>
                <line class="st0" x1="344.6" y1="222.87" x2="344.6" y2="324.26"></line>
                <line class="st0" x1="384.63" y1="222.23" x2="345.29" y2="222.23"></line>
                <line class="st0" x1="385.32" y1="258.9" x2="385.32" y2="222.87"></line>
                <line class="st0" x1="473.51" y1="259.55" x2="386.01" y2="259.55"></line>
                <line class="st0" x1="474.2" y1="222.87" x2="474.2" y2="258.9"></line>
                <line class="st0" x1="514" y1="222.23" x2="474.9" y2="222.23"></line>
                <line class="st0" x1="514.69" y1="324.26" x2="514.69" y2="222.87"></line>
                <line class="st0" x1="692.81" y1="245.81" x2="692.81" y2="223.07"></line>
                <line class="st0" x1="588.86" y1="246.46" x2="692.12" y2="246.46"></line>
                <line class="st0" x1="588.17" y1="262.67" x2="588.17" y2="247.09"></line>
                <line class="st0" x1="684.73" y1="263.31" x2="588.86" y2="263.31"></line>
                <line class="st0" x1="685.42" y1="283.02" x2="685.42" y2="263.95"></line>
                <line class="st0" x1="588.86" y1="283.66" x2="684.73" y2="283.66"></line>
                <line class="st0" x1="588.17" y1="300.07" x2="588.17" y2="284.29"></line>
                <line class="st0" x1="692.12" y1="300.71" x2="588.86" y2="300.71"></line>
                <line class="st0" x1="692.81" y1="324.26" x2="692.81" y2="301.35"></line>
                <line class="st0" x1="548.4" y1="324.9" x2="692.12" y2="324.9"></line>
                <line class="st0" x1="547.71" y1="222.87" x2="547.71" y2="324.26"></line>
                <line class="st0" x1="692.12" y1="222.42" x2="548.4" y2="222.23"></line>
                <line class="st0" x1="761.95" y1="300.07" x2="761.95" y2="223.07"></line>
                <line class="st0" x1="851.47" y1="300.71" x2="762.64" y2="300.71"></line>
                <line class="st0" x1="852.16" y1="324.26" x2="852.16" y2="301.35"></line>
                <line class="st0" x1="722.9" y1="324.9" x2="851.47" y2="324.9"></line>
                <line class="st0" x1="722.21" y1="223.07" x2="722.21" y2="324.26"></line>
                <line class="st0" x1="761.26" y1="222.42" x2="722.9" y2="222.42"></line>
                <line class="st0" x1="881.18" y1="324.9" x2="920.83" y2="324.9"></line>
                <line class="st0" x1="880.49" y1="223.07" x2="880.49" y2="324.26"></line>
                <line class="st0" x1="920.83" y1="222.42" x2="881.18" y2="222.42"></line>
                <line class="st0" x1="921.52" y1="324.26" x2="921.52" y2="223.07"></line>
                <line class="st0" x1="1048.73" y1="324.9" x2="1079.25" y2="324.9"></line>
                <line class="st0" x1="994.47" y1="249.91" x2="1048.15" y2="324.61"></line>
                <path class="st0" d="M993.21,250.27"></path>
                <path class="st0" d="M993.21,324.26"></path>
                <line class="st0" x1="955.05" y1="324.9" x2="992.52" y2="324.9"></line>
                <line class="st0" x1="954.36" y1="223.07" x2="954.36" y2="324.26"></line>
                <line class="st0" x1="1017.66" y1="222.42" x2="955.05" y2="222.42"></line>
                <path class="st0" d="M1018.23,222.72"></path>
                <path class="st0" d="M1064.1,287.92"></path>
                <line class="st0" x1="1111.28" y1="222.71" x2="1065.25" y2="287.92"></line>
                <line class="st0" x1="1174.31" y1="222.42" x2="1111.86" y2="222.42"></line>
                <line class="st0" x1="1175" y1="324.26" x2="1175" y2="223.07"></line>
                <line class="st0" x1="1137.01" y1="324.9" x2="1174.31" y2="324.9"></line>
                <line class="st0" x1="1136.32" y1="249.36" x2="1136.32" y2="324.26"></line>
                <line class="st0" x1="1079.82" y1="324.62" x2="1135.05" y2="249"></line>
                <line class="st0" x1="1246.9" y1="222.42" x2="1208.02" y2="222.42"></line>
                <line class="st0" x1="1247.59" y1="324.26" x2="1247.59" y2="223.07"></line>
                <line class="st0" x1="1208.02" y1="324.9" x2="1246.9" y2="324.9"></line>
                <line class="st0" x1="1207.33" y1="223.07" x2="1207.33" y2="324.26"></line>
                <line class="st0" x1="1273.44" y1="223.54" x2="1331.97" y2="273.18"></line>
                <line class="st0" x1="1326.16" y1="222.42" x2="1273.9" y2="222.42"></line>
                <line class="st0" x1="1365.96" y1="257.58" x2="1326.64" y2="222.61"></line>
                <line class="st0" x1="1407.56" y1="222.6" x2="1366.91" y2="257.58"></line>
                <line class="st0" x1="1459.95" y1="222.42" x2="1408.03" y2="222.42"></line>
                <line class="st0" x1="1400.9" y1="273.17" x2="1460.42" y2="223.54"></line>
                <line class="st0" x1="1463.51" y1="323.77" x2="1400.91" y2="274.13"></line>
                <line class="st0" x1="1409.93" y1="324.9" x2="1463.06" y2="324.9"></line>
                <line class="st0" x1="1366.89" y1="289.12" x2="1409.47" y2="324.73"></line>
                <line class="st0" x1="1270.26" y1="324.9" x2="1322.8" y2="324.9"></line>
                <line class="st0" x1="1331.96" y1="274.13" x2="1269.81" y2="323.77"></line>
                <line class="st0" x1="1323.27" y1="324.73" x2="1365.97" y2="289.12"></line>
                <path class="st0" d="M474.2,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M474.2,286.5c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M386.01,285.86c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M384.63,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M344.6,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M345.29,222.23c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M385.32,222.87c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M385.32,258.9c0,0.36,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M473.51,259.55c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M474.9,222.23c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M514.69,222.87c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M514,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M692.12,246.46c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M588.86,246.46c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M588.17,262.67c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M685.42,263.95c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M684.73,283.66c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M588.86,283.66c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M588.17,300.07c0,0.36,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M692.81,301.35c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M692.12,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M547.71,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M548.4,222.23c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M692.81,223.07c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M761.95,300.07c0,0.36,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M852.16,301.35c0-0.36-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M851.47,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M722.21,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M722.9,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M761.95,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M880.49,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M881.18,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M921.52,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M920.83,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M1048.15,324.61c0.13,0.18,0.34,0.29,0.57,0.29"></path>
                <path class="st0" d="M994.47,249.91c-0.21-0.29-0.64-0.37-0.96-0.18c-0.19,0.12-0.31,0.32-0.31,0.53"></path>
                <path class="st0" d="M992.52,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M954.36,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M955.05,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M1018.23,222.72c-0.12-0.18-0.34-0.29-0.58-0.29"></path>
                <path class="st0" d="M1064.1,287.92c0.21,0.3,0.64,0.38,0.96,0.19c0.08-0.05,0.15-0.11,0.2-0.18"></path>
                <path class="st0" d="M1111.86,222.42c-0.23,0-0.45,0.11-0.58,0.29"></path>
                <path class="st0" d="M1175,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M1174.31,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M1136.32,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M1136.32,249.36c0-0.36-0.31-0.64-0.69-0.64c-0.23,0-0.44,0.1-0.57,0.28"></path>
                <path class="st0" d="M1079.25,324.9c0.23,0,0.44-0.11,0.57-0.28"></path>
                <path class="st0" d="M1247.59,223.07c0-0.35-0.31-0.64-0.69-0.64"></path>
                <path class="st0" d="M1246.9,324.9c0.38,0,0.69-0.29,0.69-0.64"></path>
                <path class="st0" d="M1207.33,324.26c0,0.35,0.31,0.64,0.69,0.64"></path>
                <path class="st0" d="M1208.02,222.42c-0.38,0-0.69,0.29-0.69,0.64"></path>
                <path class="st0" d="M1273.9,222.42c-0.38,0-0.69,0.29-0.69,0.64c0,0.18,0.08,0.35,0.22,0.47"></path>
                <path class="st0" d="M1326.64,222.61c-0.13-0.12-0.3-0.18-0.48-0.18"></path>
                <path class="st0" d="M1365.96,257.58c0.26,0.23,0.68,0.24,0.95,0.01"></path>
                <path class="st0" d="M1408.03,222.42c-0.17,0-0.34,0.06-0.47,0.17"></path>
                <path class="st0" d="M1460.42,223.54c0.28-0.23,0.31-0.64,0.05-0.9c-0.13-0.14-0.32-0.21-0.52-0.21"></path>
                <path class="st0" d="M1400.9,273.17c-0.29,0.24-0.31,0.64-0.05,0.91c0.02,0.02,0.04,0.04,0.06,0.06"></path>
                <path class="st0" d="M1463.06,324.9c0.38,0,0.69-0.29,0.69-0.64c0-0.19-0.09-0.37-0.24-0.49"></path>
                <path class="st0" d="M1409.47,324.73c0.13,0.11,0.29,0.17,0.46,0.17"></path>
                <path class="st0" d="M1366.89,289.12c-0.26-0.22-0.66-0.22-0.93,0"></path>
                <path class="st0" d="M1322.8,324.9c0.17,0,0.33-0.06,0.46-0.17"></path>
                <path class="st0" d="M1269.81,323.77c-0.29,0.23-0.32,0.63-0.07,0.9c0.13,0.14,0.32,0.22,0.52,0.22"></path>
                <path class="st0" d="M1331.96,274.13c0.29-0.23,0.32-0.63,0.07-0.9c-0.02-0.02-0.04-0.04-0.06-0.06"></path>
              </g>
            </g>
          </g>
          </svg></span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons">
      <details-modal class="header__search">
        <details>
          <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
            <span>
              <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-search">
              </svg>
              <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                <use href="#icon-close">
              </svg>
            </span>
          </summary>
          <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
            <div class="modal-overlay"></div>
            <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
              {%- if settings.predictive_search_enabled -%}
                <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
              {%- endif -%}
                <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
              {%- if settings.predictive_search_enabled -%}
                </predictive-search>
              {%- endif -%}
              <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                  <use href="#icon-close">
                </svg>
              </button>
            </div>
          </div>
        </details>
      </details-modal>

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="34" viewBox="0 0 19 34" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.94457 2.34929L10.7277 1.17464L13.1221 0L15.2003 1.17464L14.9393 2.34929H16.7816L18.4532 6.64126V8.31287L16.7816 22.4086V32.1159C16.7816 32.5053 16.5561 32.8594 16.1976 33.0115C15.6375 33.2492 14.7811 33.589 14.1161 33.7484C12.6096 34.1096 5.91038 34.0571 4.62279 33.7484C3.95775 33.589 3.1014 33.2492 2.54129 33.0115C2.1828 32.8594 1.95725 32.5053 1.95725 32.1159V22.4086L0.285645 8.31287V6.64126L1.95725 2.34929H9.94457ZM11.6382 2.34929H13.5503L13.9805 1.44572L13.1221 0.858394L11.7216 1.80714L11.6382 2.34929Z" fill="#FC3B1D"></path>
        </svg>
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart == empty -%}
          <div class="cart-count-bubble">
          
              <span aria-hidden="true">0</span>
           
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.getElementById('shopify-section-header');
      this.headerBounds = {};
      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}
